@model HomepageVM

<!-- Home slider -->
<section class="p-0">
	<div class="slide-1 home-slider">
	@foreach (var slider in Model.Sliders)
	{
		<div class="home text-center">
			<img src="@slider.ImageName" alt="" class="bg-img blur-up lazyload">
		</div>
	}
	</div>
</section>
<!-- Home slider end -->
<partial name="partials/TopCollectionPartial.cshtml" model="@Model.TopCollections" />
<!-- Parallax banner -->
<section class="p-0">
	<div class="full-banner parallax text-center p-left">
		<img src="~/Images/Sliders/13e02160-cb4d-4941-9c15-7015c02528e3.jpg" alt="" class="bg-img blur-up lazyload">
	</div>
</section>
<!-- Parallax banner end -->
<partial name="partials/SpecialProductsPartial.cshtml" model="@Model" />